*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Idea-IDE
.idea
.idea_modules

# RocksDB
CURRENT
IDENTITY
LOCK
LOG
MANIFEST-*
OPTIONS-*
